

config_opts['root'] = 'centos-7-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst
config_opts['releasever'] = '7'

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
mdpolicy=group:primary
best=1

# repos
[base]
name=BaseOS
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os
failovermethod=priority
gpgkey=file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-7
gpgcheck=1
skip_if_unavailable=False

[updates]
name=updates
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=updates
failovermethod=priority
gpgkey=file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-7
gpgcheck=1
skip_if_unavailable=False

[epel]
name=epel
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-7&arch=x86_64
failovermethod=priority
gpgkey=file:///usr/share/distribution-gpg-keys/epel/RPM-GPG-KEY-EPEL-7
gpgcheck=1
skip_if_unavailable=False

[extras]
name=extras
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=extras
failovermethod=priority
gpgkey=file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-7
gpgcheck=1
skip_if_unavailable=False

[sclo]
name=sclo
baseurl=http://mirror.centos.org/centos/7/sclo/x86_64/sclo/
gpgkey=file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-SIG-SCLo
gpgcheck=1
skip_if_unavailable=False

[sclo-rh]
name=sclo-rh
baseurl=http://mirror.centos.org/centos/7/sclo/x86_64/rh/
gpgkey=file:///usr/share/distribution-gpg-keys/centos/RPM-GPG-KEY-CentOS-SIG-SCLo
gpgcheck=1
skip_if_unavailable=False

[testing]
name=epel-testing
enabled=0
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=testing-epel7&arch=x86_64
failovermethod=priority
skip_if_unavailable=False

[local]
name=local
baseurl=https://kojipkgs.fedoraproject.org/repos/epel7-build/latest/x86_64/
cost=2000
enabled=0
skip_if_unavailable=False

[epel-debuginfo]
name=epel-debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-7&arch=x86_64
failovermethod=priority
enabled=0
skip_if_unavailable=False

[rpmfusion-free-updates]
name=RPM Fusion for EL 7 - Free - Updates
#baseurl=https://download1.rpmfusion.org/free/el/updates/7/x86_64/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-el-updates-released-7&arch=x86_64
enabled=1

[rpmfusion-free-updates-testing]
name=RPM Fusion for EL 7 - Free - Test Updates
#baseurl=https://download1.rpmfusion.org/free/el/updates/testing/7/x86_64/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-el-updates-testing-7&arch=x86_64
enabled=0

[local-free]
name=RPM Fusion for EL 7 - Free - Local repo
baseurl=https://koji.rpmfusion.org/kojifiles/repos/el7-free-build/latest/x86_64/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for EL 7 - Free - Buildsys override
baseurl=https://koji.rpmfusion.org/buildsys-override/el7-free/x86_64/
cost=2000
enabled=0

[gtb-libvpx]
name=Copr repo for libvpx owned by gtb
baseurl=https://copr-be.cloud.fedoraproject.org/results/gtb/libvpx/epel-7-$basearch/
type=rpm-md
gpgkey=https://copr-be.cloud.fedoraproject.org/results/gtb/libvpx/pubkey.gpg
gpgcheck=1
enabled=1
skip_if_unavailable=False

"""
