
include('/etc/mock/rocky-8-x86_64.cfg')
include('/etc/mock/templates/epel-8.tpl')

config_opts['dnf.conf'] += """

[gtb-libcec]
name=Copr repo for libcec owned by gtb
baseurl=https://copr-be.cloud.fedoraproject.org/results/gtb/libcec/epel-8-$basearch/
type=rpm-md
gpgkey=https://copr-be.cloud.fedoraproject.org/results/gtb/libcec/pubkey.gpg
gpgcheck=1
enabled=1
skip_if_unavailable=False

[devel]
enabled=1

[rpmfusion-free-updates]
name=RPM Fusion for EL 8 - Free - Updates
#baseurl=https://download1.rpmfusion.org/free/el/updates/8/x86_64/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-el-updates-released-8&arch=x86_64
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-el-8
gpgcheck=1
enabled=1

[rpmfusion-free-updates-testing]
name=RPM Fusion for EL 8 - Free - Test Updates
#baseurl=https://download1.rpmfusion.org/free/el/updates/testing/8/x86_64/
metalink=https://mirrors.rpmfusion.org/metalink?repo=free-el-updates-testing-8&arch=x86_64
gpgkey=file:///usr/share/distribution-gpg-keys/rpmfusion/RPM-GPG-KEY-rpmfusion-free-el-8
gpgcheck=1
enabled=0

[local-free]
name=RPM Fusion for EL 8 - Free - Local repo
baseurl=https://koji.rpmfusion.org/kojifiles/repos/el8-free-build/latest/x86_64/
cost=2000
enabled=0

[buildsys-override-free]
name=RPM Fusion for EL 8 - Free - Buildsys override
baseurl=https://koji.rpmfusion.org/buildsys-override/el8-free/x86_64/
cost=2000
enabled=0

"""

