[Desktop Entry]
Name=MythTV frontend
Comment=Record, playback and watch TV
Icon=mythfrontend
Exec=/usr/bin/mythfrontend
Terminal=false
Type=Application
Categories=AudioVideo;Player;
